{ <h2>Nombre de la Compañia</h2>
    <label for="Nombre"></label>
    <input type="text"id="Nombre" class="box" >

    <h2>id Compañia</h2>
    <label for="Nombre"></label>
    <input type="text"id="Nombre" class="box" >

    <h2>Direccion</h2>
    <label for="Nombre"></label>
    <input type="text"id="Nombre" class="box" >

    <h2>Direccion</h2>
    <label for="Nombre"></label>
    <input type="text"id="Nombre" class="box" >

    <h2>Correo Electronico</h2>
    <label for="Nombre"></label>
    <input type="text"id="Nombre" class="box" >
}